#root {
  max-width: 1280px;
  text-align: center;
}

.flex{
  display: flex;
}

.entry{
  border: 2px solid #bbbbbb;
  margin: 0;
}

.text-content{
  width: 60vw;
  text-align: left;
  margin: 0 0 0 20px;
}

.entry-title{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.entry-kana{
  font-size: 1rem;
  margin: 0;
}

.img-square {
  justify-content: center;
  align-items: center;
}

.img-square img{
  width: 30vw;
  height: 30vw;
  margin: 10px;
  object-fit: cover;
  object-position: 50% 0%;
}