#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.img-square {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto 5%;
}

.img-square img{
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: 2px solid #bbbbbb;
}